@media screen and (min-width: 1200px) {
    .container-filme .container {
        max-width: 40%;
    }
}

@media screen and (max-width: 710px) {
    .buttons {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .butao {
        font-weight: 0;
        width: 60%;
    }
}